.searchResults{
    background-color: cornflowerblue;
    overflow-y: scroll;
    height: 30vh;
    margin-top: 20px;
    border-radius: 10px;
}
.country{
    background-color: wheat;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    background-color: rebeccapurple;
    margin-bottom: 10px;
    min-height: 30px;
}

.country span{
    width: 25%;
}