.searchForm {
    grid-area: header;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 5px 5px gray;
}

.searchFormContent > form input, button {
    border-radius: 5px;
    border: none;
    height: 30px;
}

input {
    min-width: 200px;
    margin: 0 10px;
    padding: 0 5px;
}

.searchFormContent button:hover {
    background-color: gray;
}
