.modalBody {
    min-height: 30px;
    min-width: 250px;
    background-color: lightgray;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 125px);
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 7px 5px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}